# Features

In [2]:
import pandas as pd

Trabajo en el siguiente rango de dias:

In [3]:
firstDay = pd.Timestamp(2019, 4, 18)
lastDay = pd.Timestamp(2019, 4, 21)

Los datos son los siguientes

In [4]:
location = 'data/'
auctionsFile = location + 'auctions.csv'
eventsFile = location + 'events.csv'
clicksFile = location + 'clicks.csv'
installsFile = location + 'installs.csv'

Cargo los datos de los primeros 3 dias

## Clicks

In [63]:
dtype = {
    'advertiser_id': 'category',
    'source_id': 'category',
    'created': 'str',
    'latitude': 'float32',
    'longitude': 'float32',
    'wifi_connection': 'bool',
    'carrier_id': 'category',
    'os_minor': 'category',
    'os_major': 'category',
    'agent_device': 'category',
    'specs_brand': 'category',
    'brand': 'category',
    'timeToClick': 'float32',
    'touchX': 'str',
    'touchY': 'str',
    'ref_type': 'category',
    'ref_hash': 'int64',
}

In [64]:
clicks = pd.read_csv(clicksFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['created'])

In [67]:
clicks[clicks['touchX'] == 'Infinity']

,advertiser_id,source_id,created,latitude,longitude,wifi_connection,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
7854,2,6,2019-04-13 01:31:38.175,1.714512,0.871062,False,25.0,5.1066709110782554e+17,6.794880020077885e+18,7.623717670320203e+18,71913840936116953,NaN,NaN,Infinity,Infinity,1494519392962156891,7295739950564334720

In [68]:
clicks = clicks.drop([7854])

In [69]:
clicks['touchX'] = clicks['touchX'].astype('float32')

In [70]:
clicks['touchY'] = clicks['touchY'].astype('float32')

In [71]:
clicks['created'] = clicks['created'].dt.tz_localize(None)

In [72]:
clicksIsInDateInterval = (clicks['created'] >= firstDay) & (clicks['created'] < lastDay)
clicks = clicks[clicksIsInDateInterval]

In [73]:
clicks.head()

,advertiser_id,source_id,created,latitude,longitude,wifi_connection,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,1,2,2019-04-18 05:27:42.197,1.714547,0.871535,False,3.0,1.5176438893491397e+18,NaN,5.131615556736863e+18,71913840936116953,0.0,2.317000,0.968,0.503,1891515180541284343,1293710398598742392
1,1,1,2019-04-18 05:27:03.164,1.714512,0.871062,True,2.0,1.2885781261232225e+18,NaN,3.908390200756879e+18,3576558787748411622,1.0,7.653000,0.712,1.689,1891515180541284343,1663930990551616564
2,1,1,2019-04-18 05:42:07.926,1.714547,0.871535,True,4.0,2.2387361390161664e+18,NaN,3.581232574980917e+18,3576558787748411622,NaN,464.795990,0.227,0.251,1891515180541284343,8488038938665586188
3,1,1,2019-04-18 05:26:04.446,1.708041,0.870772,True,1.0,2.411639939918313e+18,NaN,3.908390200756879e+18,3576558787748411622,NaN,225.311005,0.696,6.587,1891515180541284343,6488361690105189959
4,1,1,2019-04-18 05:23:37.764,1.715514,0.870772,True,2.0,1.5176438893491397e+18,NaN,5.131615556736863e+18,3576558787748411622,0.0,84.736000,0.059,0.142,1891515180541284343,1348993302102753419

In [74]:
clicks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12768 entries, 0 to 64212
Data columns (total 17 columns):
advertiser_id      12768 non-null category
source_id          12768 non-null category
created            12768 non-null datetime64[ns]
latitude           12768 non-null float32
longitude          12768 non-null float32
wifi_connection    12768 non-null bool
carrier_id         12548 non-null category
os_minor           12761 non-null category
agent_device       2004 non-null category
os_major           12761 non-null category
specs_brand        12768 non-null category
brand              2923 non-null category
timeToClick        7510 non-null float32
touchX             8571 non-null float32
touchY             8571 non-null float32
ref_type           12768 non-null category
ref_hash           12768 non-null int64
dtypes: bool(1), category(9), datetime64[ns](1), float32(5), int64(1)
memory usage: 720.6 KB

## Installs

In [58]:
dtype = {
    'created': 'str',
    'application_id': 'category',
    'ref_type': 'category',
    'ref_hash': 'int64',
    'click_hash': 'str',
    'attributed': 'bool',
    'implicit': 'bool',
    'device_brand': 'float64',
    'device_model': 'float64',
    'session_user_agent': 'str',
    'user_agent': 'str',
    'event_uuid': 'str',
    'kind': 'str',
    'wifi': 'str',
    'trans_id': 'str',
    'ip_address': 'int64',
    'device_language': 'category',
}

In [59]:
installs = pd.read_csv(installsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['created'])

In [60]:
installsIsInDateInterval = (installs['created'] >= firstDay) & (installs['created'] < lastDay)
installs = installs[installsIsInDateInterval]

In [61]:
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060929664968129e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.3013777759776993e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.3013777759776993e+18
5,2019-04-20 18:19:27.485,1,1494519392962156891,7522785771858684314,NaN,False,True,NaN,6.208879e+18,adjust.com,NaN,35e7504f-cd9b-4a78-b89f-7335a8bd735a,app_open,NaN,NaN,7297343258015606683,3.3013777759776993e+18
6,2019-04-20 03:40:21.239,1,1494519392962156891,7882044913917355073,NaN,False,True,NaN,4.566898e+18,adjust.com,NaN,f3a8649c-bd47-4874-a20e-8d3d5cedac2e,app_open,NaN,NaN,4764130939738113581,4.060929664968129e+18

In [62]:
installs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160861 entries, 2 to 481415
Data columns (total 17 columns):
created               160861 non-null datetime64[ns]
application_id        160861 non-null category
ref_type              160861 non-null category
ref_hash              160861 non-null int64
click_hash            307 non-null object
attributed            160861 non-null bool
implicit              160861 non-null bool
device_brand          95803 non-null float64
device_model          152978 non-null float64
session_user_agent    156740 non-null object
user_agent            111880 non-null object
event_uuid            35226 non-null object
kind                  35226 non-null object
wifi                  100903 non-null object
trans_id              2867 non-null object
ip_address            160861 non-null int64
device_language       153042 non-null category
dtypes: bool(2), category(3), datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 17.1+ MB

## Events

In [53]:
dtype = {
    'date': 'str',
    'event_id': 'int8',
    'ref_type': 'category',
    'ref_hash': 'int64',
    'application_id': 'int64',
    'attributed': 'bool',
    'device_os_version': 'float64',
    'device_brand': 'float64',
    'device_model': 'float64',
    'device_city': 'float64',
    'session_user_agent': 'float64',
    'trans_id': 'str',
    'user_agent': 'float64',
    'event_uuid': 'str',
    'carrier': 'float64',
    'kind': 'float64',
    'device_os': 'category',
    'wifi': 'bool',
    'connection_type': 'category',
    'ip_address': 'int64',
    'device_language': 'category'
}

In [54]:
events = pd.read_csv(eventsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['date'])

In [55]:
eventsIsInDateInterval = (events['date'] >= firstDay) & (events['date'] < lastDay)
events = events[eventsIsInDateInterval]

In [56]:
events.head()

,date,event_id,ref_type,ref_hash,application_id,attributed,device_os_version,device_brand,device_model,device_city,...,trans_id,user_agent,event_uuid,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
0,2019-04-20 01:42:49.120,0,1891515180541284343,5857744372586891366,210,False,NaN,NaN,4.318294e+18,NaN,...,NaN,5.046185e+18,5b506964-5f47-4b28-a8c2-8a92d6c23379,NaN,5.882882e+18,NaN,False,NaN,7544543351571901618,3.3013777759776993e+18
1,2019-04-20 01:42:49.340,1,1891515180541284343,7642521036780133571,210,False,NaN,NaN,NaN,NaN,...,NaN,NaN,f1fb9d15-1a7b-4116-8d3b-c4c403e197e2,NaN,4.017674e+18,NaN,False,NaN,6949523255335024165,NaN
2,2019-04-20 01:42:49.365,1,1891515180541284343,2548841562898283198,210,False,NaN,NaN,NaN,NaN,...,NaN,NaN,c85a0b15-a5d7-472e-8116-6bfa3db19687,NaN,4.017674e+18,NaN,False,NaN,6428537280982666957,NaN
3,2019-04-20 01:42:51.438,2,1891515180541284343,609402887625919085,210,False,NaN,NaN,NaN,NaN,...,NaN,NaN,f4aa0a97-2de6-4f22-95c6-1b3150112cb9,NaN,6.168309e+18,NaN,False,NaN,7607371352198017145,NaN
4,2019-04-20 01:42:51.838,1,1891515180541284343,9114651763556439823,210,False,NaN,NaN,NaN,NaN,...,NaN,NaN,08e2f7f7-875f-4aa0-b337-b9b87b0d83ea,NaN,4.017674e+18,NaN,False,NaN,2901772839007473756,NaN

In [57]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2261451 entries, 0 to 7744308
Data columns (total 21 columns):
date                  datetime64[ns]
event_id              int8
ref_type              category
ref_hash              int64
application_id        int64
attributed            bool
device_os_version     float64
device_brand          float64
device_model          float64
device_city           float64
session_user_agent    float64
trans_id              object
user_agent            float64
event_uuid            object
carrier               float64
kind                  float64
device_os             category
wifi                  bool
connection_type       category
ip_address            int64
device_language       category
dtypes: bool(2), category(4), datetime64[ns](1), float64(8), int64(3), int8(1), object(2)
memory usage: 276.1+ MB

## Auctions

In [5]:
dtype = {
    'date': 'str',
    'device_id': 'int64',
    'ref_type_id': 'category',
    'source_id': 'category',
}

In [6]:
auctionsIterator = pd.read_csv(auctionsFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['date'], chunksize=50000)

In [7]:
auctions = pd.DataFrame()
for chunk in auctionsIterator:
    chunkIsInDateInterval = (chunk['date'] >= firstDay) & (chunk['date'] < lastDay)
    auctions = pd.concat([auctions, chunk[chunkIsInDateInterval]], sort = False)

In [19]:
auctions.head()

,date,device_id,ref_type_id,source_id,day,hour
221726,2019-04-20 23:57:27.912838,1109595589636746168,7,0,3,23.957500
221727,2019-04-20 23:57:28.381114,5896614299191635403,1,0,3,23.957778
221728,2019-04-20 23:57:28.515423,4172466725848941608,1,0,3,23.957778
221729,2019-04-20 23:57:28.700884,2616279795187318849,7,0,3,23.957778
221730,2019-04-20 23:57:28.868312,8034952072073026056,1,0,3,23.957778

In [20]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15644775 entries, 221726 to 47409527
Data columns (total 6 columns):
date           datetime64[ns]
device_id      int64
ref_type_id    category
source_id      object
day            int64
hour           float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.3+ GB

## Busqueda de features

In [75]:
devicesInAuctions = pd.Series(auctions['device_id'].unique())
devicesInEvents = pd.Series(events['ref_hash'].unique())
devicesInClicks = pd.Series(clicks['ref_hash'].unique())
devicesInInstalls = pd.Series(installs['ref_hash'].unique())

In [87]:
devices = pd.concat([devicesInAuctions, devicesInEvents, devicesInClicks, devicesInInstalls])
devices = devices.drop_duplicates().reset_index(drop=True)
devices.name = 'device'

In [122]:
features = pd.DataFrame(devices)

In [12]:
auctions['day'] = auctions['date'].dt.day - firstDay.day + 1
auctions['hour'] = auctions['date'].dt.hour + auctions['date'].dt.minute / 60 + auctions['date'].dt.second / (60**2)

In [124]:
meanAuctionHour = auctions[['device_id', 'hour']].groupby(by=['device_id']).mean()
meanAuctionHour = meanAuctionHour.reset_index().rename(columns={'hour': 'meanAuctionHour'})
features = features.merge(meanAuctionHour, left_on='device', right_on='device_id', how='left').drop('device_id', axis=1)

In [126]:
auctionsFrequency = auctions[['device_id']].groupby(by=['device_id']).size()
auctionsFrequency = auctionsFrequency.reset_index().rename(columns={0: 'auctionsFrequency'})
features = features.merge(auctionsFrequency, left_on='device', right_on='device_id', how='left').drop('device_id', axis=1)

In [128]:
mostAuctionsDay = auctions[['device_id', 'day']].groupby(by=['device_id']).agg(lambda x: x.value_counts().index[0])
mostAuctionsDay = mostAuctionsDay.reset_index().rename(columns={'day': 'mostAuctionsDay'})
features = features.merge(mostAuctionsDay, left_on='device', right_on='device_id', how='left').drop('device_id', axis=1)

In [116]:
auctions['seconds'] = (auctions['date'] - firstDay).dt.total_seconds()

In [133]:
auctionMeanInstant = auctions[['device_id', 'seconds']].groupby(by=['device_id']).mean()
auctionMeanInstant = auctionMeanInstant.reset_index().rename(columns={'seconds': 'auctionMeanInstant'})
features = features.merge(auctionMeanInstant, left_on='device', right_on='device_id', how='left').drop('device_id', axis=1)

In [134]:
auctionStdDevInstant = auctions[['device_id', 'seconds']].groupby(by=['device_id']).std()
auctionStdDevInstant = auctionStdDevInstant.reset_index().rename(columns={'seconds': 'auctionStdDevInstant'})
features = features.merge(auctionStdDevInstant, left_on='device', right_on='device_id', how='left').drop('device_id', axis=1)

In [138]:
features['device_id'] = features['device']
features.drop('device', axis=1)
features = features[['device_id', 'meanAuctionHour', 'auctionsFrequency', 'mostAuctionsDay', 'auctionMeanInstant', 'auctionStdDevInstant']]

In [140]:
features.to_csv('data/featuresFirstThreeDays.csv', index=False)