In [2]:
import pandas as pd

Trabajo en el siguiente rango de dias:

In [3]:
firstDay = pd.Timestamp(2019, 4, 18)
lastDay = pd.Timestamp(2019, 4, 21)

Los datos son los siguientes

In [4]:
location = 'data/'
clicksFile = location + 'clicks.csv'

Cargo los datos de las auctions en el rango de dias indicado

In [63]:
dtype = {
    'advertiser_id': 'category',
    'source_id': 'category',
    'created': 'str',
    'latitude': 'float32',
    'longitude': 'float32',
    'wifi_connection': 'bool',
    'carrier_id': 'category',
    'os_minor': 'category',
    'os_major': 'category',
    'agent_device': 'category',
    'specs_brand': 'category',
    'brand': 'category',
    'timeToClick': 'float32',
    'touchX': 'str',
    'touchY': 'str',
    'ref_type': 'category',
    'ref_hash': 'int64',
}

In [64]:
clicks = pd.read_csv(clicksFile, usecols=dtype.keys(), dtype=dtype, parse_dates=['created'])

In [72]:
clicksIsInDateInterval = (clicks['created'] >= firstDay) & (clicks['created'] < lastDay)
clicks = clicks[clicksIsInDateInterval]

In [67]:
clicks[clicks['touchX'] == 'Infinity']

,advertiser_id,source_id,created,latitude,longitude,wifi_connection,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
7854,2,6,2019-04-13 01:31:38.175,1.714512,0.871062,False,25.0,5.1066709110782554e+17,6.794880020077885e+18,7.623717670320203e+18,71913840936116953,NaN,NaN,Infinity,Infinity,1494519392962156891,7295739950564334720

In [68]:
clicks = clicks.drop([7854])

In [69]:
clicks['touchX'] = clicks['touchX'].astype('float32')

In [70]:
clicks['touchY'] = clicks['touchY'].astype('float32')

In [71]:
clicks['created'] = clicks['created'].dt.tz_localize(None)

In [73]:
clicks.head()

,advertiser_id,source_id,created,latitude,longitude,wifi_connection,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,1,2,2019-04-18 05:27:42.197,1.714547,0.871535,False,3.0,1.5176438893491397e+18,NaN,5.131615556736863e+18,71913840936116953,0.0,2.317000,0.968,0.503,1891515180541284343,1293710398598742392
1,1,1,2019-04-18 05:27:03.164,1.714512,0.871062,True,2.0,1.2885781261232225e+18,NaN,3.908390200756879e+18,3576558787748411622,1.0,7.653000,0.712,1.689,1891515180541284343,1663930990551616564
2,1,1,2019-04-18 05:42:07.926,1.714547,0.871535,True,4.0,2.2387361390161664e+18,NaN,3.581232574980917e+18,3576558787748411622,NaN,464.795990,0.227,0.251,1891515180541284343,8488038938665586188
3,1,1,2019-04-18 05:26:04.446,1.708041,0.870772,True,1.0,2.411639939918313e+18,NaN,3.908390200756879e+18,3576558787748411622,NaN,225.311005,0.696,6.587,1891515180541284343,6488361690105189959
4,1,1,2019-04-18 05:23:37.764,1.715514,0.870772,True,2.0,1.5176438893491397e+18,NaN,5.131615556736863e+18,3576558787748411622,0.0,84.736000,0.059,0.142,1891515180541284343,1348993302102753419

In [74]:
clicks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12768 entries, 0 to 64212
Data columns (total 17 columns):
advertiser_id      12768 non-null category
source_id          12768 non-null category
created            12768 non-null datetime64[ns]
latitude           12768 non-null float32
longitude          12768 non-null float32
wifi_connection    12768 non-null bool
carrier_id         12548 non-null category
os_minor           12761 non-null category
agent_device       2004 non-null category
os_major           12761 non-null category
specs_brand        12768 non-null category
brand              2923 non-null category
timeToClick        7510 non-null float32
touchX             8571 non-null float32
touchY             8571 non-null float32
ref_type           12768 non-null category
ref_hash           12768 non-null int64
dtypes: bool(1), category(9), datetime64[ns](1), float32(5), int64(1)
memory usage: 720.6 KB

## Busqueda de features